<div class="product-banner row">
  <div class="product-image columns small-3">
    <%= image_tag(product.imageUrl) %>
  </div>
  <div class="product-detail  columns small-9">
    <div class="product-title">
      <%= product.title %>
    </div>
    <div class="product-brand">
      <%= product.brand %>
    </div>

    <p class="product-price">
      <%= product.price %>
    </p>
    <%if !product.features.nil? %>
    <ul class="product-features">
      <% product.features.each do |f| %>
          <li><%= f %></li>
      <%end%>
    </ul>
    <%end%>
  </div>
</div>

<div class="info-title">
  <span>Description</span>
</div>
<div class="product-description">
  <%= raw product.description %>
</div>

<span class="product-id"><%= product.productId%></span>

