<div class="product-cell">
  <%= image_tag(product.imageUrl) %>
  <p>
    <%= product.title %>
  </p>
  <p>
    <%= product.price %>
  </p>
  <p>
    <%= product.aspects %>
  </p>
  <span class="product-id"><%= product.productId%></span>
</div>
